@import "../sass/variables.scss";
.footer {
    flex-direction: column;
    padding: 8rem;
    gap: 5rem;

    hr {
        width: 100%;
        background: rgba(19, 19, 19, 0.16);
        height: .1rem;
    }
}

.top-footer {
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
    flex-wrap: wrap;
}

.footer-logo {
    flex: 1 1 30rem;
    h1{
        font-size: 2.8rem;
        color: $primary;
        margin-bottom: 2rem;
    }
    p {
        font-size: 1.3rem;
        color: rgba(19, 19, 19, 0.6);
        line-height: 150%;
    }
}

.footer-links {
    flex: 1 1 50rem;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
}

.footer-links-item {
    flex: 1 1 12rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    h3 {
        color: $textPrimary;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }
    a {
        color: rgba(19, 19, 19, 0.6);
        font-size: 1.3rem;
        cursor: pointer;
    }
}

.bottom-footer {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    div{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5rem;
    }

    div a {
        color: #1A202C;
        font-size: 1.3rem;
        font-weight: 600;        
    }
}