@import "./variables.scss";

.product {
    background-color: #fff;
    border-radius: 10px;
    // padding:2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prd-top {
    padding: 0 1rem ;
    a {
        h2{
            color: $textPrimary;
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: .5rem;
        }
        h4 {
            color: $textSecundary;
            font-size: 1.2rem;
        }
    }
}

.prd-img-container {
    position: relative;
    img {
        width: 100%;
        // border-radius: 6px;
        margin-bottom: .5rem;
        height: 20rem;
        object-fit: cover;
        object-position: center;
    }
    p{
        color: #fff;
        font-size: 1.2rem;
        position: absolute;
        top: 8rem;
        left: -7rem;
        transform: rotate(90deg);
    }
}

.prd-bottom {
    padding: 1rem ;
    justify-content: space-between;
    .price {
        color: $textPrimary;
        font-size: 1.8rem;
        font-weight: 600;
    }
    button {
        @include button;
    }
}